@import url("main-header.css");
@import url("ccf.css");
@import url("content.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Mukta", sans-serif;
}

.container {
  /* border: 2px solid yellow; TESTING */
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}

/* TESTING BOX
.box {
  border: 1px dotted black;
}
*/

.main-section {
  display: none;
}

.active {
  background-color: antiquewhite;
}
