@import url("blog.css");
@import url("test.css");
@import url("footer.css");

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(75px, auto);
  grid-template-areas:
    "header header"
    "content content"
    "blog blog"
    "footer footer";
  /* Testing Only 
  border: 2px solid rgb(216, 216, 65);
  */
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Potta One", cursive;
  color: azure;
  background-color: rgb(4, 17, 29);
  border-bottom: 3px ridge azure;
  padding: 5px;
}

.logo > img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.title {
  align-self: flex-end;
}

.all-blogs {
  margin-left: auto;
  align-self: flex-end;
  justify-self: flex-end;
  margin-right: 5px;
}

.main-content {
  grid-area: content;

  background-image: url("../images/pink-pill-pattern-on-a-blue-background.jpg");
  background-size: auto;
  height: 400px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Potta One", cursive;
  font-size: 1.5em;
}
