.nominated-movies_container{
    padding: 32px 16px;
}

.nominated-movies_header{
    font-size: 1.6em;
    color: #444;
    text-align: center;
    margin-bottom: 20px;
}

.nominated-movies .nominated-movie{
    background: #0198E1;
    padding: 20px 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.nominated-movies .nominated-movie .nominated-title{
    font-size: 1.2em;
}

.nominated-movies .nominated-movie .remove-nominate{
    border: none;
    outline: none;
    background: #D2042D;
    color: #fff;
    font-size: 1.2em;
    padding: 10px 20px;
    margin-top: 20px;
    margin-left: auto;
    cursor: pointer;
}

.no-data{
    text-align: center;
}

