.movies-list_container{
    border-right: 1px solid #aaa;
    padding: 32px 16px;
}

.search-bar_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #0198E1;
    margin-bottom: 20px;
}

.search-bar_container input{
    width: 90%;
    border: none;
    outline: none;
    background: none;
    font-size: 1em;
    padding: 10px;
}

.search-bar_container .fa{
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    background: #0198E1;
    color: #fff;
}

.movies .movie-box{
    border: 1px solid #aaa;
    display: flex;
    align-items: center;
}

.movies .movie-box .poster_container{
    flex: 0 0 30%;
    max-width: 30%;
}

.movies .movie-box .poster_container img{
    width: 100%;
    height: auto;
}

.movies .movie-box .movie-data_container{
    flex: 0 0 70%;
    max-width: 70%;   
    align-self: stretch;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
}

.movies .movie-box .movie-data_container .movie-title{
    font-size: 1.6em;
    color: #0198E1;
}

.movies .movie-box .movie-data_container .release-date{
    font-size: 1em;
    color: #aaa;
}

.movies .movie-box .movie-data_container .type{
    font-size: 1em;
    color: #444;
}

.movies .movie-box .movie-data_container .nominate-button{
    margin-top: auto;
    border: none;
    outline: none;
    background: #0198E1;
    color: #fff;
    font-size: 1.2em;
    padding: 10px 20px;
    cursor: pointer;
}

.movies .movie-box .movie-data_container .nominate-button:disabled{
    background: #ddd;
    color: #aaa;
}